@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color:#431407;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

h1{
    margin-top: 30px;
}

.pink{
    background-color: #2f110d;
}

.nav-bar{
  display:inline;
  color: white;
}

.hide-scroll::-webkit-scrollbar {
  display:none;
}

.hide-scroll{
    scrollbar-width: none;
}